### Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

# code to ignore warnings
import warnings
warnings.filterwarnings("ignore")

# garbage collector to free up memory
import gc
gc.enable()

root_csv = '../csv files/'
root_pickle = '../pickle files/'

### Creating a function to reduce the memory of dataframe

In [2]:
def reduce_mem_usage(train_data):
    start_mem = train_data.memory_usage().sum() / 1024**2
    
    for col in train_data.columns:
        col_type = train_data[col].dtype
        
        if col_type != object:
            if pd.api.types.is_categorical_dtype(train_data[col]):
                train_data[col] = train_data[col].cat.as_ordered()
            else:
                c_min = train_data[col].min()
                c_max = train_data[col].max()
                if str(col_type)[:3] == 'int':
                    if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                        train_data[col] = train_data[col].astype(np.int8)
                    elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                        train_data[col] = train_data[col].astype(np.int16)
                    elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                        train_data[col] = train_data[col].astype(np.int32)
                    elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                        train_data[col] = train_data[col].astype(np.int64)
                else:
                    if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                        train_data[col] = train_data[col].astype(np.float16)
                    elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                        train_data[col] = train_data[col].astype(np.float32)
                    else:
                        train_data[col] = train_data[col].astype(np.float64)
    
    end_mem = train_data.memory_usage().sum() / 1024**2
    print(f'Memory usage of dataframe is {start_mem:.2f} MB --> {end_mem:.2f} MB (Decreased by {100 * (start_mem - end_mem) / start_mem:.1f}%)')
    
    return train_data

### Reading the csv files

In [3]:
orders = pd.read_csv(root_csv + 'orders.csv')
departments = pd.read_csv(root_csv + 'departments.csv')
aisles = pd.read_csv(root_csv + 'aisles.csv')
products = pd.read_csv(root_csv + 'products.csv')
order_products_train = pd.read_csv(root_csv + 'order_products_train.csv')
order_products_prior = pd.read_csv(root_csv + 'order_products_prior.csv')

### Optimizing memory for categorical columns in DataFrames

In [4]:
aisles['aisle'] = aisles['aisle'].astype('category')
departments['department'] = departments['department'].astype('category')
orders['eval_set'] = orders['eval_set'].astype('category')
products['product_name'] = products['product_name'].astype('category')

### Reducing the memory for all dataframes

In [5]:
reduce_mem_usage(order_products_prior)
reduce_mem_usage(order_products_train)
reduce_mem_usage(products)
reduce_mem_usage(orders)
reduce_mem_usage(departments)
reduce_mem_usage(aisles)

Memory usage of dataframe is 989.82 MB --> 340.25 MB (Decreased by 65.6%)
Memory usage of dataframe is 42.26 MB --> 13.20 MB (Decreased by 68.7%)
Memory usage of dataframe is 2.71 MB --> 1.91 MB (Decreased by 29.7%)
Memory usage of dataframe is 159.87 MB --> 45.68 MB (Decreased by 71.4%)
Memory usage of dataframe is 0.00 MB --> 0.00 MB (Decreased by 14.1%)
Memory usage of dataframe is 0.01 MB --> 0.01 MB (Decreased by 12.0%)

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

### Creating unified dataframe for prior orders

In [6]:
prior_df = order_products_prior.merge(orders, on ='order_id', how='inner')
reduce_mem_usage(prior_df)

prior_df = prior_df.merge(products, on = 'product_id', how = 'left')
reduce_mem_usage(prior_df)

prior_df.head(5)

prior_df = reduce_mem_usage(prior_df)

Memory usage of dataframe is 897.03 MB --> 897.03 MB (Decreased by 0.0%)
Memory usage of dataframe is 1114.94 MB --> 1114.94 MB (Decreased by 0.0%)
Memory usage of dataframe is 1114.94 MB --> 1114.94 MB (Decreased by 0.0%)

### Checking number of times user bought the product

In [7]:
prior_df['user_buy_product_times'] = prior_df.groupby(['user_id', 'product_id']).cumcount() + 1
reduce_mem_usage(prior_df)
prior_df.head(5)

Memory usage of dataframe is 1362.39 MB --> 1145.87 MB (Decreased by 15.9%)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,user_buy_product_times
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,1
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,1
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,1
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,1
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,1

## Product level features

#### (1) Product's average add-to-cart-order
#### (2) Total times the product was ordered
#### (3) Total times the product was reordered
#### (4) Reorder percentage of a product
#### (5) Total unique users of a product
#### (6) Is the product Organic?
#### (7) Percentage of users that buy the product second time

In [8]:
agg_dict1 = {
    'mean_add_to_cart_order': ('add_to_cart_order', 'mean'),
    'total_orders': ('reordered', 'count'),
    'total_reorders': ('reordered', 'sum'),
    'reorder_percentage': ('reordered', 'mean'),
    'unique_users': ('user_id', 'nunique'),
    'order_first_time_total_cnt': ('user_buy_product_times', lambda x: sum(x == 1)),
    'order_second_time_total_cnt': ('user_buy_product_times', lambda x: sum(x == 2)),
    'is_organic': ('product_name', lambda x: 1 if 'Organic' in x else 0)
}

prod_feats1 = prior_df.groupby('product_id').agg(**agg_dict1)
prod_feats1.reset_index(inplace=True)
prod_feats1.columns = prod_feats1.columns.map(''.join)  

reduce_mem_usage(prod_feats1)
prod_feats1['second_time_percent'] = prod_feats1.order_second_time_total_cnt/prod_feats1.order_first_time_total_cnt
prod_feats1.head(5)

reduce_mem_usage(prod_feats1)

Memory usage of dataframe is 3.41 MB --> 1.37 MB (Decreased by 59.7%)
Memory usage of dataframe is 1.75 MB --> 1.47 MB (Decreased by 16.2%)

,product_id,mean_add_to_cart_order,total_orders,total_reorders,reorder_percentage,unique_users,order_first_time_total_cnt,order_second_time_total_cnt,is_organic,second_time_percent
0,1,5.800781,1852,1136.0,0.613281,716,716,276,0,0.385498
1,2,9.890625,90,12.0,0.133301,78,78,8,0,0.102539
2,3,6.414062,277,203.0,0.732910,74,74,36,0,0.486572
3,4,9.507812,329,147.0,0.446777,182,182,64,0,0.351562
4,5,6.464844,15,9.0,0.600098,6,6,4,0,0.666504
...,...,...,...,...,...,...,...,...,...,...
49672,49684,4.332031,9,1.0,0.111084,8,8,1,0,0.125000
49673,49685,9.570312,49,6.0,0.122437,43,43,6,0,0.139526
49674,49686,7.500000,120,84.0,0.700195,36,36,16,0,0.444336
49675,49687,7.539062,13,6.0,0.461426,7,7,4,0,0.571289
49676,49688,10.000000,89,15.0,0.168579,74,74,11,0,0.148682

## Aisle Level features

#### (8) Reorder percentage, Total orders and reorders of a product aisle
#### (9) Mean and std of aisle add-to-cart-order
#### (10) Aisle unique users

In [9]:
agg_dict2 = {
    'aisle_mean_add_to_cart_order': ('add_to_cart_order', 'mean'),
    'aisle_std_add_to_cart_order': ('add_to_cart_order', 'std'),
    'aisle_total_orders': ('reordered', 'count'),
    'aisle_total_reorders': ('reordered', 'sum'),
    'aisle_reorder_percentage': ('reordered', 'mean'),
    'aisle_unique_users': ('user_id', 'nunique')
}

aisle_feats = prior_df.groupby('aisle_id').agg(**agg_dict2)
aisle_feats.reset_index(inplace=True)
aisle_feats.columns = aisle_feats.columns.map(''.join)  # Combine multi-level columns into a single level
aisle_feats.head(5)

reduce_mem_usage(aisle_feats)

Memory usage of dataframe is 0.01 MB --> 0.00 MB (Decreased by 63.2%)

,aisle_id,aisle_mean_add_to_cart_order,aisle_std_add_to_cart_order,aisle_total_orders,aisle_total_reorders,aisle_reorder_percentage,aisle_unique_users
0,1,8.164062,7.105469,71928,42912.0,0.596680,20711
1,2,9.273438,7.472656,82491,40365.0,0.489258,31222
2,3,9.570312,7.898438,456386,272922.0,0.598145,63592
3,4,10.164062,7.746094,200687,98243.0,0.489502,53892
4,5,10.296875,8.187500,62510,17542.0,0.280518,32312
...,...,...,...,...,...,...,...
129,130,9.273438,7.632812,158164,79003.0,0.499512,54068
130,131,10.359375,7.750000,266637,120803.0,0.453125,73124
131,132,8.992188,8.109375,6168,1308.0,0.212036,4227
132,133,7.476562,7.191406,18683,6410.0,0.343018,10365
133,134,5.207031,5.722656,11198,5446.0,0.486328,3764

## Department level features

#### (10) Reorder percentage, Total orders and reorders of a product department
#### (11) Mean and std of department add-to-cart-order
#### (12) Department unique users

In [10]:
agg_dict3 = {
    'department_mean_add_to_cart_order': ('add_to_cart_order', 'mean'),
    'department_std_add_to_cart_order': ('add_to_cart_order', 'std'),
    'department_total_orders': ('reordered', 'count'),
    'department_total_reorders': ('reordered', 'sum'),
    'department_reorder_percentage': ('reordered', 'mean'),
    'department_unique_users': ('user_id', 'nunique')
}

dpt_feats = prior_df.groupby('department_id').agg(**agg_dict3)
dpt_feats.reset_index(inplace=True)
dpt_feats.columns = dpt_feats.columns.map(''.join)  # Combine multi-level columns into a single level
dpt_feats.head(5)

reduce_mem_usage(dpt_feats)

Memory usage of dataframe is 0.00 MB --> 0.00 MB (Decreased by 59.6%)

,department_id,department_mean_add_to_cart_order,department_std_add_to_cart_order,department_total_orders,department_total_reorders,department_reorder_percentage,department_unique_users
0,1,9.000000,7.394531,2236432,1211890.0,0.541992,163233
1,2,8.281250,7.527344,36291,14806.0,0.407959,17875
2,3,8.085938,6.906250,1176787,739188.0,0.627930,140612
3,4,8.023438,6.660156,9479291,6160710.0,0.649902,193237
4,5,5.429688,5.777344,153696,87595.0,0.569824,15798
5,6,9.945312,7.941406,269253,99416.0,0.369141,76583
6,7,6.976562,6.710938,2690129,1757892.0,0.653320,172795
7,8,7.718750,7.011719,97724,58760.0,0.601074,14986
8,9,10.210938,7.734375,866627,399581.0,0.461182,124820
9,10,8.398438,7.070312,34573,19950.0,0.577148,12484
10,11,8.750000,7.824219,447123,143584.0,0.321045,93969
11,12,8.531250,7.042969,708931,402442.0,0.567871,113891
12,13,9.593750,7.875000,1875577,650301.0,0.346680,172755
13,14,9.125000,7.601562,709569,398013.0,0.561035,114169
14,15,9.945312,7.628906,1068058,488535.0,0.457520,133733
15,16,7.496094,6.613281,5414016,3627221.0,0.669922,190565
16,17,8.492188,7.625000,738666,297075.0,0.402100,111608
17,18,10.578125,8.140625,423802,245369.0,0.579102,33730
18,19,9.187500,7.691406,2887550,1657973.0,0.574219,174219
19,20,8.695312,7.144531,1051249,638864.0,0.607910,133865
20,21,9.335938,7.761719,69145,27371.0,0.395752,27862

#### (13) Binary encoding of aisle feature
#### (14) Binary encoding of department feature

In [11]:
reduce_mem_usage(prod_feats1)
prod_feats1 = prod_feats1.merge(products, on = 'product_id', how = 'left')
reduce_mem_usage(prod_feats1)
prod_feats1 = prod_feats1.merge(aisle_feats, on = 'aisle_id', how = 'left')
reduce_mem_usage(prod_feats1)
prod_feats1 = prod_feats1.merge(aisles, on = 'aisle_id', how = 'left')
reduce_mem_usage(prod_feats1)
prod_feats1 = prod_feats1.merge(dpt_feats, on = 'department_id', how = 'left')
reduce_mem_usage(prod_feats1)
prod_feats1 = prod_feats1.merge(departments, on = 'department_id', how = 'left')
reduce_mem_usage(prod_feats1)
prod_feats1.head()

Memory usage of dataframe is 1.47 MB --> 1.47 MB (Decreased by 0.0%)
Memory usage of dataframe is 3.57 MB --> 3.57 MB (Decreased by 0.0%)
Memory usage of dataframe is 4.42 MB --> 4.42 MB (Decreased by 0.0%)
Memory usage of dataframe is 4.52 MB --> 4.52 MB (Decreased by 0.0%)
Memory usage of dataframe is 5.37 MB --> 5.37 MB (Decreased by 0.0%)
Memory usage of dataframe is 5.42 MB --> 5.42 MB (Decreased by 0.0%)

,product_id,mean_add_to_cart_order,total_orders,total_reorders,reorder_percentage,unique_users,order_first_time_total_cnt,order_second_time_total_cnt,is_organic,second_time_percent,...,aisle_reorder_percentage,aisle_unique_users,aisle,department_mean_add_to_cart_order,department_std_add_to_cart_order,department_total_orders,department_total_reorders,department_reorder_percentage,department_unique_users,department
0,1,5.800781,1852,1136.0,0.613281,716,716,276,0,0.385498,...,0.548828,54202,cookies cakes,9.187500,7.691406,2887550,1657973.0,0.574219,174219,snacks
1,2,9.890625,90,12.0,0.133301,78,78,8,0,0.102539,...,0.152344,76402,spices seasonings,9.593750,7.875000,1875577,650301.0,0.346680,172755,pantry
2,3,6.414062,277,203.0,0.732910,74,74,36,0,0.486572,...,0.527832,53197,tea,6.976562,6.710938,2690129,1757892.0,0.653320,172795,beverages
3,4,9.507812,329,147.0,0.446777,182,182,64,0,0.351562,...,0.556641,58749,frozen meals,9.000000,7.394531,2236432,1211890.0,0.541992,163233,frozen
4,5,6.464844,15,9.0,0.600098,6,6,4,0,0.666504,...,0.280518,32312,marinades meat preparation,9.593750,7.875000,1875577,650301.0,0.346680,172755,pantry

In [12]:
# Dropping unnecessary columns
prod_feats1.drop(['product_name', 'aisle_id', 'department_id'], axis = 1, inplace = True)
reduce_mem_usage(prod_feats1)
prod_feats1.head()

Memory usage of dataframe is 3.70 MB --> 3.70 MB (Decreased by 0.0%)

,product_id,mean_add_to_cart_order,total_orders,total_reorders,reorder_percentage,unique_users,order_first_time_total_cnt,order_second_time_total_cnt,is_organic,second_time_percent,...,aisle_reorder_percentage,aisle_unique_users,aisle,department_mean_add_to_cart_order,department_std_add_to_cart_order,department_total_orders,department_total_reorders,department_reorder_percentage,department_unique_users,department
0,1,5.800781,1852,1136.0,0.613281,716,716,276,0,0.385498,...,0.548828,54202,cookies cakes,9.187500,7.691406,2887550,1657973.0,0.574219,174219,snacks
1,2,9.890625,90,12.0,0.133301,78,78,8,0,0.102539,...,0.152344,76402,spices seasonings,9.593750,7.875000,1875577,650301.0,0.346680,172755,pantry
2,3,6.414062,277,203.0,0.732910,74,74,36,0,0.486572,...,0.527832,53197,tea,6.976562,6.710938,2690129,1757892.0,0.653320,172795,beverages
3,4,9.507812,329,147.0,0.446777,182,182,64,0,0.351562,...,0.556641,58749,frozen meals,9.000000,7.394531,2236432,1211890.0,0.541992,163233,frozen
4,5,6.464844,15,9.0,0.600098,6,6,4,0,0.666504,...,0.280518,32312,marinades meat preparation,9.593750,7.875000,1875577,650301.0,0.346680,172755,pantry

### Performing binary encoding on aisle and department column in prod_feats1 dataframe

In [13]:
# Checking dataframe prod_feats1 before binary encoding
print("Before Binary encoding the shape of prod_feats1 dataframe", prod_feats1.shape)
print("\nBefore Binary encoding getting the features of prod_feats1 dataframe", prod_feats1.dtypes)

# Performing binary encoding
encoder= ce.BinaryEncoder(cols=['aisle', 'department'],return_df=True)
prod_feats1 = encoder.fit_transform(prod_feats1)
reduce_mem_usage(prod_feats1)
prod_feats1.head()

# Checking dataframe prod_feats1 after binary encoding
print("\nAfter Binary encoding the shape of prod_feats1 dataframe", prod_feats1.shape)
print("\nAfter Binary encoding getting the features of prod_feats1 dataframe", prod_feats1.dtypes)

Before Binary encoding the shape of prod_feats1 dataframe (49677, 24)

Before Binary encoding getting the features of prod_feats1 dataframe product_id                              int32
mean_add_to_cart_order                float16
total_orders                            int32
total_reorders                        float32
reorder_percentage                    float16
unique_users                            int32
order_first_time_total_cnt              int32
order_second_time_total_cnt             int32
is_organic                               int8
second_time_percent                   float16
aisle_mean_add_to_cart_order          float16
aisle_std_add_to_cart_order           float16
aisle_total_orders                      int32
aisle_total_reorders                  float32
aisle_reorder_percentage              float16
aisle_unique_users                      int32
aisle                                category
department_mean_add_to_cart_order     float16
department_std_add_to_cart_order      float16
department_total_orders                 int32
department_total_reorders             float32
department_reorder_percentage         float16
department_unique_users                 int32
department                           category
dtype: object
Memory usage of dataframe is 8.48 MB --> 4.17 MB (Decreased by 50.8%)

After Binary encoding the shape of prod_feats1 dataframe (49677, 35)

After Binary encoding getting the features of prod_feats1 dataframe product_id                             int32
mean_add_to_cart_order               float16
total_orders                           int32
total_reorders                       float32
reorder_percentage                   float16
unique_users                           int32
order_first_time_total_cnt             int32
order_second_time_total_cnt            int32
is_organic                              int8
second_time_percent                  float16
aisle_mean_add_to_cart_order         float16
aisle_std_add_to_cart_order          float16
aisle_total_orders                     int32
aisle_total_reorders                 float32
aisle_reorder_percentage             float16
aisle_unique_users                     int32
aisle_0                                 int8
aisle_1                                 int8
aisle_2                                 int8
aisle_3                                 int8
aisle_4                                 int8
aisle_5                                 int8
aisle_6                                 int8
aisle_7                                 int8
department_mean_add_to_cart_order    float16
department_std_add_to_cart_order     float16
department_total_orders                int32
department_total_reorders            float32
department_reorder_percentage        float16
department_unique_users                int32
department_0                            int8
department_1                            int8
department_2                            int8
department_3                            int8
department_4                            int8
dtype: object

### Freeing the space for memory by removing temporary dataframes

In [14]:
del aisle_feats, dpt_feats, aisles, departments
gc.collect()

0

### When no prior order, the value is null. Imputing as 0

In [15]:
prior_df.days_since_prior_order = prior_df.days_since_prior_order.fillna(0)
reduce_mem_usage(prior_df)

Memory usage of dataframe is 1145.87 MB --> 1145.87 MB (Decreased by 0.0%)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,user_buy_product_times
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,1
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,1
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,1
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,1
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0,Free & Clear Natural Dishwasher Detergent,74,17,3
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0,Organic Mini Sandwich Crackers Peanut Butter,78,19,1
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0,All Natural French Toast Sticks,52,1,1
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0,Banana,24,4,13
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0,Organic Sweet & Salty Peanut Pretzel Granola ...,3,19,12

### Final product features dataframe

In [16]:
prior_df.head(5)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,user_buy_product_times
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,1
1,2,28985,2,1,202279,prior,3,5,9,8.0,Michigan Organic Kale,83,4,1
2,2,9327,3,0,202279,prior,3,5,9,8.0,Garlic Powder,104,13,1
3,2,45918,4,1,202279,prior,3,5,9,8.0,Coconut Butter,19,13,1
4,2,30035,5,0,202279,prior,3,5,9,8.0,Natural Sweetener,17,13,1

## User level features

#### (15) User's average and std day-of-week of order
#### (16) User's average and std hour-of-day of order
#### (17) User's average and std days-since-prior-order
#### (18) Total orders by a user
#### (19) Total products user has bought
#### (20) Total unique products user has bought
#### (21) user's total reordered products
#### (22) User's overall reorder percentage

In [17]:
agg_dict4 = {
    'order_dow_avg': ('order_dow', 'mean'),
    'order_dow_std': ('order_dow', 'std'),
    'order_hour_of_day_avg': ('order_hour_of_day', 'mean'),
    'order_hour_of_day_std': ('order_hour_of_day', 'std'),
    'days_since_prior_order_avg': ('days_since_prior_order', 'mean'),
    'days_since_prior_order_std': ('days_since_prior_order', 'std'),
    'total_orders_by_user': ('order_number', lambda x: x.nunique()),
    'total_products_by_user': ('product_id', 'count'),
    'total_unique_product_by_user': ('product_id', lambda x: x.nunique()),
    'total_reorders_by_user': ('reordered', 'sum'),
    'reorder_propotion_by_user': ('reordered', 'mean')
}

user_feats = prior_df.groupby('user_id').agg(**agg_dict4)
user_feats.reset_index(inplace=True)
user_feats.columns = user_feats.columns.map(''.join)  
reduce_mem_usage(user_feats)
user_feats.head(5)

Memory usage of dataframe is 17.70 MB --> 4.92 MB (Decreased by 72.2%)

,user_id,order_dow_avg,order_dow_std,order_hour_of_day_avg,order_hour_of_day_std,days_since_prior_order_avg,days_since_prior_order_std,total_orders_by_user,total_products_by_user,total_unique_product_by_user,total_reorders_by_user,reorder_propotion_by_user
0,1,2.644531,1.255859,10.539062,3.500000,18.546875,10.562500,10,59,18,41.0,0.694824
1,2,2.005859,0.971191,10.437500,1.649414,14.906250,9.671875,14,195,102,93.0,0.476807
2,3,1.011719,1.246094,16.359375,1.455078,10.179688,5.867188,12,88,33,55.0,0.625000
3,4,4.722656,0.826660,13.109375,1.745117,11.945312,9.976562,5,18,17,1.0,0.055542
4,5,1.622070,1.277344,15.726562,2.589844,10.187500,7.601562,4,37,23,14.0,0.378418

## User Order Features

#### (23) Average order size of a user
#### (24) User's mean of reordered items of all orders

In [18]:
agg_dict5 = {
    'average_order_size': ('reordered', 'count'),
    'reorder_in_order': ('reordered', 'mean')
}

user_feats2 = prior_df.groupby(['user_id', 'order_number']).agg(**agg_dict5)
user_feats2.reset_index(inplace=True)
user_feats2.columns = user_feats2.columns.map(''.join) 
reduce_mem_usage(user_feats2)
user_feats2.head()

Memory usage of dataframe is 98.11 MB --> 27.59 MB (Decreased by 71.9%)

   user_id  order_number  average_order_size  reorder_in_order
0        1             1                   5          0.000000
1        1             2                   6          0.500000
2        1             3                   5          0.600098
3        1             4                   5          1.000000
4        1             5                   8          0.625000

### Getting the average order size and reorder in order on user level

In [19]:
user_feats3 = user_feats2.groupby('user_id').agg({'average_order_size' : 'mean', 'reorder_in_order':'mean'})
reduce_mem_usage(user_feats3)
user_feats3 = user_feats3.reset_index()
user_feats3.head()

Memory usage of dataframe is 3.54 MB --> 2.36 MB (Decreased by 33.3%)

   user_id  average_order_size  reorder_in_order
0        1            5.898438          0.706055
1        2           13.929688          0.447998
2        3            7.332031          0.658691
3        4            3.599609          0.028564
4        5            9.250000          0.377686

In [20]:
user_feats = user_feats.merge(user_feats3, on = 'user_id', how = 'left')
reduce_mem_usage(user_feats)
user_feats.head()

Memory usage of dataframe is 7.28 MB --> 7.28 MB (Decreased by 0.0%)

,user_id,order_dow_avg,order_dow_std,order_hour_of_day_avg,order_hour_of_day_std,days_since_prior_order_avg,days_since_prior_order_std,total_orders_by_user,total_products_by_user,total_unique_product_by_user,total_reorders_by_user,reorder_propotion_by_user,average_order_size,reorder_in_order
0,1,2.644531,1.255859,10.539062,3.500000,18.546875,10.562500,10,59,18,41.0,0.694824,5.898438,0.706055
1,2,2.005859,0.971191,10.437500,1.649414,14.906250,9.671875,14,195,102,93.0,0.476807,13.929688,0.447998
2,3,1.011719,1.246094,16.359375,1.455078,10.179688,5.867188,12,88,33,55.0,0.625000,7.332031,0.658691
3,4,4.722656,0.826660,13.109375,1.745117,11.945312,9.976562,5,18,17,1.0,0.055542,3.599609,0.028564
4,5,1.622070,1.277344,15.726562,2.589844,10.187500,7.601562,4,37,23,14.0,0.378418,9.250000,0.377686

#### (25) Percentage of reordered itmes in user's last three orders
#### (26) Total orders in user's last three orders

In [21]:
last_three_orders = user_feats2.groupby('user_id')['order_number'].nlargest(3).reset_index()
reduce_mem_usage(last_three_orders)
last_three_orders.head(5)

last_three_orders = user_feats2.merge(last_three_orders, on = ['user_id', 'order_number'], how = 'inner')
reduce_mem_usage(last_three_orders)
last_three_orders.head(5)

last_three_orders['rank'] = last_three_orders.groupby("user_id")["order_number"].rank("dense", ascending=True)
reduce_mem_usage(last_three_orders)
last_three_orders.head(5)

Memory usage of dataframe is 10.03 MB --> 5.31 MB (Decreased by 47.1%)
Memory usage of dataframe is 12.39 MB --> 11.80 MB (Decreased by 4.8%)
Memory usage of dataframe is 16.52 MB --> 12.98 MB (Decreased by 21.4%)

   user_id  order_number  average_order_size  reorder_in_order  level_1  rank
0        1             8                   6          0.666504        7   1.0
1        1             9                   6          1.000000        8   2.0
2        1            10                   9          0.666504        9   3.0
3        2            12                  19          0.579102       21   1.0
4        2            13                   9          0.000000       22   2.0

### Last order features

In [22]:
last_order_feats = last_three_orders.pivot_table(index = 'user_id', columns = ['rank'], \
                                                 values=['average_order_size', 'reorder_in_order']).\
                                                reset_index(drop = False)
reduce_mem_usage(last_order_feats)
last_order_feats.columns = ['user_id','orders_3', 'orders_2', 'orders_1', 'reorder_3', 'reorder_2', 'reorder_1']
last_order_feats.head(5)

user_feats = user_feats.merge(last_order_feats, on = 'user_id', how = 'left')
reduce_mem_usage(user_feats)
user_feats.head(5)

Memory usage of dataframe is 3.34 MB --> 2.56 MB (Decreased by 23.5%)
Memory usage of dataframe is 9.05 MB --> 9.05 MB (Decreased by 0.0%)

,user_id,order_dow_avg,order_dow_std,order_hour_of_day_avg,order_hour_of_day_std,days_since_prior_order_avg,days_since_prior_order_std,total_orders_by_user,total_products_by_user,total_unique_product_by_user,total_reorders_by_user,reorder_propotion_by_user,average_order_size,reorder_in_order,orders_3,orders_2,orders_1,reorder_3,reorder_2,reorder_1
0,1,2.644531,1.255859,10.539062,3.500000,18.546875,10.562500,10,59,18,41.0,0.694824,5.898438,0.706055,6,6,9,0.666504,1.000000,0.666504
1,2,2.005859,0.971191,10.437500,1.649414,14.906250,9.671875,14,195,102,93.0,0.476807,13.929688,0.447998,19,9,16,0.579102,0.000000,0.625000
2,3,1.011719,1.246094,16.359375,1.455078,10.179688,5.867188,12,88,33,55.0,0.625000,7.332031,0.658691,6,5,6,0.833496,1.000000,1.000000
3,4,4.722656,0.826660,13.109375,1.745117,11.945312,9.976562,5,18,17,1.0,0.055542,3.599609,0.028564,7,2,3,0.142822,0.000000,0.000000
4,5,1.622070,1.277344,15.726562,2.589844,10.187500,7.601562,4,37,23,14.0,0.378418,9.250000,0.377686,9,5,12,0.444336,0.399902,0.666504

## User and Product level features

#### (27) User's avg add-to-cart-order for a product
#### (28) User's avg days_since_prior_order for a product
#### (29) User's product total orders, reorders and reorders percentage
#### (30) User's order number when the product was bought last

In [23]:
agg_dict6 = {
    'total_product_orders_by_user': ('reordered', 'count'),
    'total_product_reorders_by_user': ('reordered', 'sum'),
    'user_product_reorder_percentage': ('reordered', 'mean'),
    'avg_add_to_cart_by_user': ('add_to_cart_order', 'mean'),
    'avg_days_since_last_bought': ('days_since_prior_order', 'mean'),
    'last_ordered_in': ('order_number', 'max')
}

user_product_feats = prior_df.groupby(['user_id', 'product_id']).agg(**agg_dict6)
reduce_mem_usage(user_product_feats)
user_product_feats.reset_index(inplace=True)
user_product_feats.columns = user_product_feats.columns.map(''.join)  # Combine multi-level columns into a single level
reduce_mem_usage(user_product_feats)
user_product_feats.head()

Memory usage of dataframe is 458.84 MB --> 217.71 MB (Decreased by 52.6%)
Memory usage of dataframe is 317.29 MB --> 215.75 MB (Decreased by 32.0%)

,user_id,product_id,total_product_orders_by_user,total_product_reorders_by_user,user_product_reorder_percentage,avg_add_to_cart_by_user,avg_days_since_last_bought,last_ordered_in
0,1,196,10,9,0.899902,1.400391,17.593750,10
1,1,10258,9,8,0.888672,3.333984,19.562500,10
2,1,10326,1,0,0.000000,5.000000,28.000000,5
3,1,12427,10,9,0.899902,3.300781,17.593750,10
4,1,13032,3,2,0.666504,6.332031,21.671875,10

In [24]:
last_orders = prior_df.merge(last_three_orders, on = ['user_id', 'order_number'], how = 'inner')
reduce_mem_usage(last_orders)
last_orders.head(5)

last_orders['rank'] = last_orders.groupby(['user_id', 'product_id'])['order_number'].rank("dense", ascending=True)
reduce_mem_usage(last_orders)
last_orders.head(5)

Memory usage of dataframe is 279.92 MB --> 273.87 MB (Decreased by 2.2%)
Memory usage of dataframe is 310.20 MB --> 273.87 MB (Decreased by 11.7%)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,user_buy_product_times,average_order_size,reorder_in_order,level_1,rank
0,7,34050,1,0,142903,prior,11,2,14,30.0,Orange Juice,31,7,1,2,0.000000,2231251,1.0
1,7,46802,2,0,142903,prior,11,2,14,30.0,Pineapple Chunks,116,1,1,2,0.000000,2231251,1.0
2,14,20392,1,1,18194,prior,49,3,15,3.0,Hair Bender Whole Bean Coffee,26,7,1,11,0.818359,282882,1.0
3,14,27845,2,1,18194,prior,49,3,15,3.0,Organic Whole Milk,84,16,1,11,0.818359,282882,1.0
4,14,162,3,1,18194,prior,49,3,15,3.0,Organic Mini Homestyle Waffles,52,1,1,11,0.818359,282882,1.0

#### (31) User's product purchase history of last three orders

In [25]:
product_purchase_history = last_orders.pivot_table(index = ['user_id', 'product_id'],\
                                                   columns='rank', values = 'reordered').reset_index()
product_purchase_history.columns = ['user_id', 'product_id', 'is_reorder_3', 'is_reorder_2', 'is_reorder_1']
product_purchase_history.fillna(0, inplace = True)
reduce_mem_usage(product_purchase_history)
product_purchase_history.head(5)

user_product_feats = user_product_feats.merge(product_purchase_history, on=['user_id', 'product_id'], how = 'left')
reduce_mem_usage(user_product_feats)
user_product_feats.head(5)

Memory usage of dataframe is 187.88 MB --> 65.76 MB (Decreased by 65.0%)
Memory usage of dataframe is 393.44 MB --> 393.44 MB (Decreased by 0.0%)

,user_id,product_id,total_product_orders_by_user,total_product_reorders_by_user,user_product_reorder_percentage,avg_add_to_cart_by_user,avg_days_since_last_bought,last_ordered_in,is_reorder_3,is_reorder_2,is_reorder_1
0,1,196,10,9,0.899902,1.400391,17.593750,10,1.0,1.0,1.0
1,1,10258,9,8,0.888672,3.333984,19.562500,10,1.0,1.0,1.0
2,1,10326,1,0,0.000000,5.000000,28.000000,5,NaN,NaN,NaN
3,1,12427,10,9,0.899902,3.300781,17.593750,10,1.0,1.0,1.0
4,1,13032,3,2,0.666504,6.332031,21.671875,10,1.0,0.0,0.0

### Checking for missing values and filling missing values

In [26]:
# check for missing values
user_product_feats.isnull().sum()

# Filling missing values in user product features
user_product_feats.fillna(0, inplace = True)
reduce_mem_usage(user_product_feats)

Memory usage of dataframe is 393.44 MB --> 393.44 MB (Decreased by 0.0%)

,user_id,product_id,total_product_orders_by_user,total_product_reorders_by_user,user_product_reorder_percentage,avg_add_to_cart_by_user,avg_days_since_last_bought,last_ordered_in,is_reorder_3,is_reorder_2,is_reorder_1
0,1,196,10,9,0.899902,1.400391,17.593750,10,1.0,1.0,1.0
1,1,10258,9,8,0.888672,3.333984,19.562500,10,1.0,1.0,1.0
2,1,10326,1,0,0.000000,5.000000,28.000000,5,0.0,0.0,0.0
3,1,12427,10,9,0.899902,3.300781,17.593750,10,1.0,1.0,1.0
4,1,13032,3,2,0.666504,6.332031,21.671875,10,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
13307948,206209,43961,3,2,0.666504,8.000000,23.328125,12,1.0,0.0,0.0
13307949,206209,44325,1,0,0.000000,8.000000,9.000000,7,0.0,0.0,0.0
13307950,206209,48370,1,0,0.000000,8.000000,30.000000,11,0.0,0.0,0.0
13307951,206209,48697,1,0,0.000000,6.000000,9.000000,7,0.0,0.0,0.0
13307952,206209,48742,2,1,0.500000,9.000000,13.500000,12,1.0,0.0,0.0

### Saving all the features

In [27]:
prod_feats1.to_pickle(root_pickle + 'product_features.pkl')
user_feats.to_pickle(root_pickle +'user_features.pkl')
user_product_feats.to_pickle(root_pickle +'user_product_features.pkl')

### Checking the data for final features created

In [28]:
df = pd.read_pickle(root_pickle +'product_features.pkl')
df.head(5)

,product_id,mean_add_to_cart_order,total_orders,total_reorders,reorder_percentage,unique_users,order_first_time_total_cnt,order_second_time_total_cnt,is_organic,second_time_percent,...,department_std_add_to_cart_order,department_total_orders,department_total_reorders,department_reorder_percentage,department_unique_users,department_0,department_1,department_2,department_3,department_4
0,1,5.800781,1852,1136.0,0.613281,716,716,276,0,0.385498,...,7.691406,2887550,1657973.0,0.574219,174219,1,0,1,0,1
1,2,9.890625,90,12.0,0.133301,78,78,8,0,0.102539,...,7.875000,1875577,650301.0,0.346680,172755,1,0,0,0,1
2,3,6.414062,277,203.0,0.732910,74,74,36,0,0.486572,...,6.710938,2690129,1757892.0,0.653320,172795,0,0,1,0,0
3,4,9.507812,329,147.0,0.446777,182,182,64,0,0.351562,...,7.394531,2236432,1211890.0,0.541992,163233,0,1,0,1,1
4,5,6.464844,15,9.0,0.600098,6,6,4,0,0.666504,...,7.875000,1875577,650301.0,0.346680,172755,1,0,0,0,1

In [29]:
df = pd.read_pickle(root_pickle+'user_features.pkl')
df.head(5)

,user_id,order_dow_avg,order_dow_std,order_hour_of_day_avg,order_hour_of_day_std,days_since_prior_order_avg,days_since_prior_order_std,total_orders_by_user,total_products_by_user,total_unique_product_by_user,total_reorders_by_user,reorder_propotion_by_user,average_order_size,reorder_in_order,orders_3,orders_2,orders_1,reorder_3,reorder_2,reorder_1
0,1,2.644531,1.255859,10.539062,3.500000,18.546875,10.562500,10,59,18,41.0,0.694824,5.898438,0.706055,6,6,9,0.666504,1.000000,0.666504
1,2,2.005859,0.971191,10.437500,1.649414,14.906250,9.671875,14,195,102,93.0,0.476807,13.929688,0.447998,19,9,16,0.579102,0.000000,0.625000
2,3,1.011719,1.246094,16.359375,1.455078,10.179688,5.867188,12,88,33,55.0,0.625000,7.332031,0.658691,6,5,6,0.833496,1.000000,1.000000
3,4,4.722656,0.826660,13.109375,1.745117,11.945312,9.976562,5,18,17,1.0,0.055542,3.599609,0.028564,7,2,3,0.142822,0.000000,0.000000
4,5,1.622070,1.277344,15.726562,2.589844,10.187500,7.601562,4,37,23,14.0,0.378418,9.250000,0.377686,9,5,12,0.444336,0.399902,0.666504

In [30]:
df = pd.read_pickle(root_pickle + 'user_product_features.pkl')
df.head(5)

,user_id,product_id,total_product_orders_by_user,total_product_reorders_by_user,user_product_reorder_percentage,avg_add_to_cart_by_user,avg_days_since_last_bought,last_ordered_in,is_reorder_3,is_reorder_2,is_reorder_1
0,1,196,10,9,0.899902,1.400391,17.593750,10,1.0,1.0,1.0
1,1,10258,9,8,0.888672,3.333984,19.562500,10,1.0,1.0,1.0
2,1,10326,1,0,0.000000,5.000000,28.000000,5,0.0,0.0,0.0
3,1,12427,10,9,0.899902,3.300781,17.593750,10,1.0,1.0,1.0
4,1,13032,3,2,0.666504,6.332031,21.671875,10,1.0,0.0,0.0