### Importing necessary libraries

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc
from IPython.display import display, HTML
from tabulate import tabulate

root_csv = '../csv files/'

### Reading csv files

In [8]:
orders = pd.read_csv(root_csv + 'orders.csv')
departments = pd.read_csv(root_csv + 'departments.csv')
aisles = pd.read_csv(root_csv + 'aisles.csv')
products = pd.read_csv(root_csv + 'products.csv')
order_products_train = pd.read_csv(root_csv + 'order_products_train.csv')
order_products_prior = pd.read_csv(root_csv + 'order_products_prior.csv')

### Checking data of all dataframes

In [9]:
print("aisles:")
display(HTML(aisles.head(5).to_html()))

print("\ndepartments:")
display(HTML(departments.head(5).to_html()))

print("\nproducts:")
display(HTML(products.head(5).to_html()))

print("\norders:")
display(HTML(orders.head(5).to_html()))

print("\norder_products_train:")
display(HTML(order_products_train.head(5).to_html()))

print("\norder_products_prior:")
display(HTML(order_products_prior.head(5).to_html()))

aisles:

departments:

products:

orders:

order_products_train:

order_products_prior:

### Checking number of rows and columns of all dataframes

In [10]:
print("aisles :", aisles.shape) 
print("departments : ",departments.shape) 
print("order_prod_prior :" ,order_products_prior.shape)
print("order_products_train : ",order_products_train.shape)
print("orders : ",orders.shape) 
print("products : ",products.shape)

aisles : (134, 2)
departments :  (21, 2)
order_prod_prior : (32434489, 4)
order_products_train :  (1384617, 4)
orders :  (3421083, 7)
products :  (49688, 4)

### Checking for missing values, features and datatypes, columns with all values zeros for all dataframes

In [12]:
# aisles
columns = aisles.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = aisles[cols].dtype
    missing_value = aisles[cols].isnull().sum()
    all_values_zero = (aisles[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)
    
print("\nFeatures and Datatypes of aisles :\n")
print(tabulate(Table_data, headers="firstrow"))


# departments
columns = departments.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = departments[cols].dtype
    missing_value = departments[cols].isnull().sum()
    all_values_zero = (departments[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)
    
print("\nFeatures and Datatypes of departments :\n")
print(tabulate(Table_data, headers="firstrow"))


# orders
columns = orders.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = orders[cols].dtype
    missing_value = orders[cols].isnull().sum()
    all_values_zero = (orders[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)
    
print("\nFeatures and Datatypes of orders :\n")
print(tabulate(Table_data, headers="firstrow"))


# products
columns= products.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = products[cols].dtype
    missing_value = products[cols].isnull().sum()
    all_values_zero = (products[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)

print("\nFeatures and Datatypes of products :\n")
print(tabulate(Table_data, headers="firstrow"))


# order_products_prior
columns = order_products_prior.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = order_products_prior[cols].dtype
    missing_value = order_products_prior[cols].isnull().sum()
    all_values_zero = (order_products_prior[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)

print("\nFeatures and Datatypes of order_products_prior :\n")
print(tabulate(Table_data, headers="firstrow"))


# order_products_train
columns = order_products_train.columns
Table_data = [["Column Name","Data Type","Missing Values", "All Values Zero"]]

for cols in columns:
    data_type = order_products_train[cols].dtype
    missing_value = order_products_train[cols].isnull().sum()
    all_values_zero = (order_products_train[cols] == 0).all()
    data = [cols,data_type,missing_value,all_values_zero]
    Table_data.append(data)

print("\nFeatures and Datatypes of order_products_train :\n")
print(tabulate(Table_data, headers="firstrow"))

Features and Datatypes of aisles :

Column Name    Data Type      Missing Values    All Values Zero
-------------  -----------  ----------------  -----------------
aisle_id       int64                       0                  0
aisle          object                      0                  0

Features and Datatypes of departments :

Column Name    Data Type      Missing Values    All Values Zero
-------------  -----------  ----------------  -----------------
department_id  int64                       0                  0
department     object                      0                  0

Features and Datatypes of orders :

Column Name             Data Type      Missing Values    All Values Zero
----------------------  -----------  ----------------  -----------------
order_id                int64                       0                  0
user_id                 int64                       0                  0
eval_set                object                      0                  0
order_number            int64                       0                  0
order_dow               int64                       0                  0
order_hour_of_day       int64                       0                  0
days_since_prior_order  float64                206209                  0

Features and Datatypes of products :

Column Name    Data Type      Missing Values    All Values Zero
-------------  -----------  ----------------  -----------------
product_id     int64                       0                  0
product_name   object                      0                  0
aisle_id       int64                       0                  0
department_id  int64                       0                  0

Features and Datatypes of order_products_prior :

Column Name        Data Type      Missing Values    All Values Zero
-----------------  -----------  ----------------  -----------------
order_id           int64                       0                  0
product_id         int64                       0                  0
add_to_cart_order  int64                       0                  0
reordered          int64                       0                  0

Features and Datatypes of order_products_train :

Column Name        Data Type      Missing Values    All Values Zero
-----------------  -----------  ----------------  -----------------
order_id           int64                       0                  0
product_id         int64                       0                  0
add_to_cart_order  int64                       0                  0
reordered          int64                       0                  0

### Checking for duplicate values for all dataframes

In [14]:
dataframes = {
    'orders': orders,
    'products': products,
    'order_products_prior': order_products_prior,
    'order_products_train': order_products_train,
    'aisles': aisles,
    'departments': departments
}

for name, df in dataframes.items():
    duplicates = df[df.duplicated()]
    
    print(f"\n{name}:")
    print("Number of duplicate rows:", len(duplicates))
    
    if not duplicates.empty:
        print("Duplicate rows:")
        print(duplicates)

orders:
Number of duplicate rows: 0

products:
Number of duplicate rows: 0

order_products_prior:
Number of duplicate rows: 0

order_products_train:
Number of duplicate rows: 0

aisles:
Number of duplicate rows: 0

departments:
Number of duplicate rows: 0

### Checking for unique values for all dataframes

In [17]:
print("Number of unique aisles:", len(aisles.aisle.unique()))
print("Number of unique departments:", len(departments.department.unique()))
print("Number of unique orders in orders:", len(orders.order_id.unique()))
print("Number of unique users in orders:", len(orders.user_id.unique()))
print("Number of unique orders in order_products_train: ",len(order_products_train.order_id.unique()))
print("Number of unique orders in order_products_prior: ",len(order_products_prior.order_id.unique()))

Number of unique aisles: 134
Number of unique departments: 21
Number of unique orders in orders: 3421083
Number of unique users in orders: 206209
Number of unique orders in order_products_train:  131209
Number of unique orders in order_products_prior:  3214874

### Checking prior, train, test count from orders dataframe

In [18]:
print("Number of records in data split of orders:\n",orders.eval_set.value_counts())

Number of records in data split of orders:
 prior    3214874
train     131209
test       75000
Name: eval_set, dtype: int64

### Checking reordered count in train and test dataframes

In [21]:
print("Count of number of items reordered in order_products_prior\n",order_products_prior.reordered.value_counts())
print("\nCount of number of items reordered in order_products_train\n",order_products_train.reordered.value_counts())

Count of number of items reordered in order_products_prior
 1    19126536
0    13307953
Name: reordered, dtype: int64

Count of number of items reordered in order_products_train
 1    828824
0    555793
Name: reordered, dtype: int64